<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waagn App</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/request.module.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    <%- include('../partials/aside.ejs') %>
    <div class="content">
        <div class="header">
          <div class="flex">
             <h1>Dashboard</h1>
          </div>
          <div style="display: flex; align-items: center">
            <span style="font-weight: 600">Admin</span>
            <i class="material-icons" style="font-size: 30px">account_circle</i>
          </div>
        </div>

        <!-- summary -->

        <div class="summary grid grid-col-3">
            <div class="flex flex-col sum-box">
                <h3>Total order</h3>
                <p class="d-value" id="total-order">0</p>
            </div>
            <div class="flex flex-col sum-box">
                <h3>Pending Pickup</h3>
                <p class="d-value">0</p>
            </div>
            <div class="flex flex-col sum-box">
                <h3>Available Vehicle for Pickup</h3>
                <p class="d-value" id="active-vehicles">0</p>
            </div>
            <div class="flex flex-col sum-box">
                <h3>Waiting for 3PL Confirmation</h3>
                <p class="d-value">0</p>
            </div>
            <div class="flex flex-col sum-box">
                <h3>In Transit</h3>
                <p class="d-value" id="transit-order">0</p>
            </div>
            <div class="flex flex-col sum-box">
                <h3>Completed Deliveries</h3>
                <p class="d-value" id="delivered-order">0</p>
            </div>
        </div>
      </div>

      <div class="flex loader-bg hide" id="loading-container">
        <div>
            <span class="loader">Loading</span>
        </div>
      </div>

    <script src="/js/common.js"></script>
    <script src="/js/dashboard.js"></script>
  </body>
</html>
