<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waagn App</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/request.module.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include('../partials/aside.ejs') %>
        <div class="content">
            <div class="header">
                <div>
                    <span>Overview</span>
                    <span>Payments</span>
                    <span>Cards</span>
                    <span>Account</span>
                    <span>System</span>
                    <span>Business</span>
                </div>
                <div style="display: flex; align-items: center;">
                    <span style="font-weight: 600;">Panchanan Deka</span>
                    <i class="material-icons" style="font-size:30px;">account_circle</i>
                </div>
            </div>

            <div class="service-cards grid-col-3">
                <div class="service-card">
                    <h3>13</h3>
                    <p>Today's Orders</p>
                </div>
                <div class="service-card" style="background-color: #c4c443;">
                    <h3>8</h3>
                    <p>Order In Progress</p>
                </div>
                <div class="service-card" style="background-color: #89c867;">
                    <h3>50</h3>
                    <p>Completed Orders</p>
                </div>
            </div>

            <div class="table-container">
                <div class="flex table-header" style="justify-content: space-between;">
                    <h1>Drivers List</h1>
                    <button class="btn" onclick="openPopup('create-driver-form-popup')">Add a driver</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Driver ID</th>
                            <th>Pickup Address</th>
                            <th>Delivery Address</th>
                            <th>Driver Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="driver-table">
                    </tbody>
                </table>
            </div>

        </div>
        <!-- create driver popup form -->
        <div class="flex popup-container create-driver-form-popup hide">
            <div class="form-container">
                <div class="flex form-header">
                    <h2>Driver Information Form</h2>
                    <span class="material-icons" style="cursor: pointer;color: #c11717;" onclick="closePopup('create-driver-form-popup')">close</span>
                </div>
                <form id="driver-register-form" method="POST" enctype="multipart/form-data" style="margin-top: 1.5rem;">
                    <div class="form-row">
                        <div class="form-field">
                            <label for="dl_number">Driver Name:</label>
                            <input type="text" id="dl_number" name="driver_name" required>
                        </div>
                        <div class="form-field">
                            <label for="contact_number">Contact Number:</label>
                            <input type="text" id="contact_number" name="contact_number" required>
                        </div>
                       
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="aadhaar_card_number">Aadhaar Card Number:</label>
                            <input type="text" id="aadhaar_card_number" name="aadhaar_card_number" required>
                        </div>
                        <div class="form-field">
                            <label for="dl_number">Driving License Number:</label>
                            <input type="text" id="dl_number" name="dl_number" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="permanent_address">Permanent Address:</label>
                            <input type="text" id="permanent_address" name="permanent_address">
                        </div>
                        <div class="form-field">
                            <label for="current_address">Current Address:</label>
                            <input type="text" id="current_address" name="current_address">
                        </div>
                        
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="whatsapp_number">WhatsApp Number:</label>
                            <input type="text" id="whatsapp_number" name="whatsapp_number">
                        </div>
                        <div class="form-field">
                            <label for="alt_number">Alternate Number:</label>
                            <input type="text" id="alt_number" name="alt_number">
                        </div>
                       
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="emergency_number">Emergency Number:</label>
                            <input type="text" id="emergency_number" name="emergency_number" required>
                        </div>
                        <div class="form-field">
                            <label for="driver_photo">Driver Photo:</label>
                            <input type="file" id="driver_photo" name="driver_photo">
                        </div>
                    </div>

                    <div class="full-width">
                        <button type="button" onclick="registerDriver(event)" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- driver details popup box -->
        <div class="flex popup-container driver-detail-popup hide">
            <div class="info-box" style="background-color: #fff;">
                <button class="close-button" onclick="closePopup('driver-detail-popup')">
                    <span class="material-icons">close</span> <!-- Material Icon for Close -->
                </button>
                <div class="key-value-box"  id="driver-details-box" style="justify-content: space-around; margin-block: 1rem;">
                  
                </div>
            </div>
        </div>

        <script src="/js/common.js"></script>
        <script src="/js/driver.js"></script>
</body>

</html>