<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Waagn App</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/lr.css" />
  <script src="js/request.module.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    input {
      padding: 0.8rem;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <%- include('../partials/aside.ejs') %>
    <div class="content">
      <div class="header">
        <div class="flex search-bar">
          <input type="text" placeholder="search you query here..." />
          <button><i class="material-icons">search</i></button>
        </div>
        <div style="display: flex; align-items: center">
          <span style="font-weight: 600">Panchanan Deka</span>
          <i class="material-icons" style="font-size: 30px">account_circle</i>
        </div>
      </div>

      <div class="form-container">
        <div class="flex form-header">
          <h2>GENERATE LR</h2>
        </div>

        <div>
          <input type="text" name="" id="order-for-lr" placeholder="Enter order ID..." />
          <button class="btn" onclick="startLRGeneration()">Start</button>
          <button class="btn" id="downloadPdf" onclick="generatePDF()">Download</button>
        </div>
      </div>

      <div class="lr-form">
        <div class="form-container" style="width: 100%">
          <div class="flex form-header">
            <h2>LR Generation Form</h2>
            <span class="material-icons" style="cursor: pointer; color: #c11717"
              onclick="closePopup('create-driver-form-popup')">close</span>
          </div>
          <form id="generate-lr-form" style="margin-top: 1.5rem">
            <div class="form-row">
              <div class="form-field">
                <label for="dl_number">Docket Number:</label>
                <input type="text" id="dl_number" name="docket_number" required />
              </div>
              <div class="form-field">
                <label for="contact_number">Reciever Name:</label>
                <input type="text" id="contact_number" name="reciever_name" required />
              </div>
            </div>

            <div class="form-row">
              <div class="form-field">
                <label for="aadhaar_card_number">Invoice Number:</label>
                <input type="text" id="aadhaar_card_number" name="invoice_number" required />
              </div>
              <div class="form-field">
                <label for="dl_number">Declared Value:</label>
                <input type="text" id="dl_number" name="declared_value" required />
              </div>
            </div>
            <!-- radio inputs -->
            <div class="form-row">
              <div class="form-field">
                <label>Payment Mode:</label>
                <div class="flex" style="gap: 5rem">
                  <div>
                    <input type="radio" name="pay-mode" value="paid" />
                    <label for="">Paid</label>
                  </div>
                  <div>
                    <input type="radio" name="pay-mode" value="topay" />
                    <label for="">To Pay</label>
                  </div>
                  <div>
                    <input type="radio" name="pay-mode" value="tbb" />
                    <label for="">TBB</label>
                  </div>
                </div>
              </div>
              <div class="form-field">
                <label for="current_address">Liability:</label>
                <div class="flex" style="gap: 5rem">
                  <div>
                    <input type="radio" name="risk" value="or" />
                    <label for="">Owner's Risk</label>
                  </div>
                  <div>
                    <input type="radio" name="risk" value="cr" />
                    <label for="">Carrier's Risk</label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Charges inputs -->
            <h3 style="margin-top: 1.5rem">Charges</h3>
            <div id="charges-field">
              <div class="form-row">
                <div class="form-field">
                  <label for="whatsapp_number">Freight Charges:</label>
                  <input type="text" id="whatsapp_number" name="fr-chg" />
                </div>
                <div class="form-field">
                  <label for="alt_number">Handling Charges:</label>
                  <input type="text" id="alt_number" name="hnd-chg" />
                </div>
                <div class="form-field">
                  <label for="alt_number">Statistical Charges:</label>
                  <input type="text" id="alt_number" name="sts-chg" />
                </div>
                <div class="form-field">
                  <label for="alt_number">Others:</label>
                  <input type="text" id="alt_number" name="oth-chg" />
                </div>
                <div class="form-field">
                  <label for="alt_number">GST @12%:</label>
                  <input type="text" id="alt_number" name="gst-chg" />
                </div>
                <div class="form-field">
                  <label for="alt_number">Total:</label>
                  <input type="text" id="alt_number" name="tot-chg" />
                </div>
              </div>
            </div>
            <!-- item Description start here -->
            <h3 style="margin-top: 1.5rem">Item Description</h3>
            <div id="item-desc-field">
              <div class="form-row">
                <div class="form-field">
                  <label for="whatsapp_number">Description Of goods:</label>
                  <input type="text" id="whatsapp_number" name="whatsapp_number" />
                </div>
                <div class="form-field">
                  <label for="alt_number">Actual Weight:</label>
                  <input type="text" id="alt_number" name="alt_number" />
                </div>
                <div class="form-field">
                  <label for="alt_number">Charged Weight:</label>
                  <input type="text" id="alt_number" name="alt_number" />
                </div>
                <div class="form-field">
                  <label for="alt_number">Rate / Kg:</label>
                  <input type="text" id="alt_number" name="alt_number" />
                </div>
                <div class="form-field">
                  <label for="alt_number">Comments:</label>
                  <input type="text" id="alt_number" name="alt_number" />
                </div>
                <div class="form-field">
                  <button class="btn" type="button" style="margin-top: 1.8rem" onclick="addItemField(event)">
                    Add Now
                  </button>
                </div>
              </div>
            </div>

            <!-- item data -->
            <div id="item-data-box"></div>
            <div class="full-width">
              <button type="button" onclick="generateLR(event)" class="btn">
                Generate LR
              </button>
              <button type="button" onclick="previewLR(event)" class="btn">
                Preview LR
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Lr pdf format -->
      <div class="flex hide" id="lr-pdf" style="justify-content: center">
        <div class="pdf" id="pdf-content">
          <div class="section">
            <div class="row">
              <div class="column" style="flex: 0 0 50%" colspan="2">
                <div class="flex flex-col" style="justify-content: space-around; gap: 3px">
                  <img src="/img/logo.png" alt="" height="50px" width="230px" />
                  <h2>HAX TECHNOLOGIES PVT LTD</h2>
                  <p>JL Bhawan, NH-37, Jalukbari, Guwahati-781013</p>
                  <p>Email: contact@waagn.com</p>
                  <p>CIN : U74999AS2016PTC017481</p>
                </div>
              </div>
              <div class="column" style="flex: 0 0 50%; padding: 0" colspan="2">
                <div class="flex flex-col" style="gap: 1rem">
                  <p style="padding: 1rem">
                    Docket No: <span class="lr-field" id="docket_number"></span>
                  </p>
                  <p style="border-top: 2px solid rgb(86, 86, 86); padding: 1rem">
                    Order ID: <span class="db-data" id="order_id"></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 50%" colspan="2">Date: <span class="db-data" id="order_date"></span></div>
              <div class="column" style="flex: 0 0 25%" colspan="2">
                Origin: <span class="db-data" id="shipper_town"></span>
              </div>
              <div class="column" style="flex: 0 0 25%" colspan="2">
                Destination: <span class="db-data" id="receiver_town"></span>
              </div>
            </div>
            <div class="row">
              <div class="column font-bold" style="flex: 0 0 50%" colspan="2">
                Consignor:
              </div>
              <div class="column font-bold" style="flex: 0 0 50%">
                Consignee:
              </div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 50%">
                Company Name:
                <span class="db-data" id="shipper_company_name">tiuyu</span>
              </div>
              <div class="column" style="flex: 0 0 50%">
                Company Name: <span class="db-data" id="receiver_company_name"></span>
              </div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 50%">
                GST No: <span class="db-data" id="shipper_gst"></span>
              </div>
              <div class="column" style="flex: 0 0 50%">
                GST No: <span class="db-data" id="receiver_gst"></span>
              </div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 50%">
                Address: <span class="db-data" id="pickup_location_address"></span>
              </div>
              <div class="column" style="flex: 0 0 50%">
                Address: <span class="db-data" id="delivery_location_address"></span>
              </div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 50%">
                Contact: <span class="db-data" id="shipper_contact_number"></span>
              </div>
              <div class="column" style="flex: 0 0 50%">
                Contact: <span class="db-data" id="receiver_contact_number"></span>
              </div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 50%">
                Pin Code: <span class="db-data" id="shipper_pincode"></span>
              </div>
              <div class="column" style="flex: 0 0 50%">
                Pin Code: <span class="db-data" id="receiver_pincode"></span>
              </div>
              <div class="column font-bold" style="flex: 0 0 12.5%">
                Payment Mode
              </div>
              <div class="column" style="flex: 0 0 12.5%">
                <span class="checkbox lr-field" id="paid"></span>Paid
              </div>
              <div class="column" style="flex: 0 0 12.5%">
                <span class="checkbox lr-field" id="topay"></span>To Pay
              </div>
              <div class="column" style="flex: 0 0 12.5%; border-right: 1.5px solid black">
                <span class="checkbox lr-field" id="tbb"></span>TBB
              </div>
              <div class="column font-bold" style="flex: 0 0 12.5%">
                Liability
              </div>
              <div class="column" style="flex: 0 0 19%">
                <span class="checkbox lr-field" id="or"></span>Owner's Risk
              </div>
              <div class="column" style="flex: 0 0 18.5%">
                <span class="checkbox lr-field" id="cr"></span>Carrier's Risk
              </div>
            </div>
          </div>
          <div class="section">
            <div class="row">
              <div class="column" style="flex: 0 0 16.67%">No. of boxes</div>
              <div class="column" style="flex: 0 0 16.67%">
                Description Of Goods (Said to contain)
              </div>
              <div class="column" style="flex: 0 0 16.67%">Actual Weight</div>
              <div class="column" style="flex: 0 0 16.67%">Charged Weight</div>
              <div class="column" style="flex: 0 0 16.67%">Rate/KG</div>
              <div class="column" style="flex: 0 0 16.65%">Comments</div>
            </div>
            <div id="item-add-row">
              <!-- dynamic data will render -->
            </div>
          </div>
          <div class="section">
            <div class="row">
              <div class="column font-bold">Charges</div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 16.66%">Freight Charges</div>
              <div class="column" style="flex: 0 0 16.66%">
                Handling Charges
              </div>
              <div class="column" style="flex: 0 0 16.66%">
                Statistical Charges
              </div>
              <div class="column" style="flex: 0 0 16.66%">Others</div>
              <div class="column" style="flex: 0 0 16.66%">GST @12%</div>
              <div class="column" style="flex: 0 0 16.66%">Grand Total</div>
            </div>
            <div class="row" id="charges-box-lr">
              <div class="column" style="flex: 0 0 16.66%" id="fr-chg"></div>
              <div class="column" style="flex: 0 0 16.66%" id="hnd-chg"></div>
              <div class="column" style="flex: 0 0 16.66%" id="sts-chg"></div>
              <div class="column" style="flex: 0 0 16.66%" id="oth-chg"></div>
              <div class="column" style="flex: 0 0 16.66%" id="gst-chg"></div>
              <div class="column" style="flex: 0 0 16.66%" id="tot-chg"></div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 50%" id="">
                Invoice No: <span class="lr-field" id="invoice_number"></span>
              </div>
              <div class="column" style="flex: 0 0 50%" id="">
                Declared Value:
                <span class="lr-field" id="declared_value"></span>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="row">
              <div class="column font-bold" style="flex: 0 0 33.33%">
                Acknowledgement
              </div>
              <div class="column" style="flex: 0 0 66.67%" colspan="3">
                We hereby acknowledge that the consignment has been received in full and in good condition, without any objections or complaints, as per the details mentioned in the LR. The consignee confirms that there are no damages, shortages, or discrepancies in the delivered goods
              </div>
            </div>
            <div class="row">
              <div class="column" style="flex: 0 0 50%" colspan="2">
                Receiver's Name:
                <span class="lr-field" id="reciever_name"></span>
              </div>
              <div class="column" style="flex: 0 0 50%; padding: 1rem" colspan="2">
                Consignee Seal & Comments
              </div>
              <div class="column" style="flex: 0 0 30%; padding: 1rem" colspan="2">
                <div>
                  <h4>Bank Account Details:</h4>
                  <p style="margin-top: 5px;">Account Name: HAX TECHNOLOGIES PRIVATE LIMITED</p>
                  <p>Bank Name: ICICI BANK</p> 
                  <p>Account Number: 210605000784</p> 
                  <p>IFSC Code: ICIC0002106</p> 
                  <p>UPI ID: waagn16@ybl</p> 
                </div>
              </div>
              <div class="column" style="flex: 0 0 70%; padding: 1rem" colspan="2">
                <div>
                  <h3>Scan To Pay:</h3>
                  <div>
                    <img src="/img/qr.png" alt="Qr-code" height="80px" width="80px">
                    <p>Once the payment is successfully made, please share the payment confirmation with our team for further processing. For any queries, contact us at contact@waagn.com or +91-9707051570</p>
                  </div>
                </div>
              </div>
              <div class="column" style="flex: 0 0 100%">
                <span class="font-bold">Terms & Conditions</span>: Waagnx Logistics Solution (Waagn.com) acts as an intermediary between transporters and customers, facilitating goods pickup and delivery, customers must provide accurate details of goods including weight, volume, and packaging condition at the time of booking, transporters or our 3PL partners will verify goods before pickup, proper packaging of goods is the customer’s responsibility, estimated delivery timelines are subject to unforeseen delays and force majeure events, Waagnx is not liable for loss, damage, or theft of goods during transit, customers are advised to insure valuable goods, “To-Pay” orders must be paid before delivery via provided payment methods, any disputes related to damage or loss must be raised within 48 hours of delivery, cancellation is not allowed once the order is dispatched, refunds are subject to case review and transporter’s policy, customers and transporters must comply with all local, national, and international transport laws, restricted or illegal goods are not allowed for shipping, all disputes will be subject to jurisdiction in Guwahati High courts, by using Waagnx services, all parties agree to abide by these terms and conditions.
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="table-container pdf" id="pdf-content">
          <table>
            <tr>
              <td class="bg-blue-light p-2" colspan="2">
                WaagnX Logo &amp; Address
              </td>
              <td class="p-2" colspan="2">Docket No:</td>
              <td class="p-2">Origin:</td>
              <td class="p-2">Date:</td>
            </tr>
            <tr>
              <td class="p-2" colspan="2"></td>
              <td class="p-2" colspan="2">Order Id:</td>
              <td class="p-2" colspan="2">Destination:</td>
            </tr>
            <tr>
              <td class="p-2 font-bold" colspan="2">Consignor:</td>
              <td class="p-2 font-bold" colspan="2">Consignee:</td>
              <td class="p-2 text-center font-bold">Liability</td>
              <td class="p-2"><span class="checkbox"></span>Owner's Risk</td>
              <td class="p-2"><span class="checkbox"></span>Carrier's Risk</td>
            </tr>
            <tr>
              <td class="p-2">Company Name:</td>
              <td class="p-2"></td>
              <td class="p-2">Company Name:</td>
              <td class="p-2"></td>
              <td class="p-2" colspan="2">Invoice No:</td>
            </tr>
            <tr>
              <td class="p-2">GST No:</td>
              <td class="p-2"></td>
              <td class="p-2">GST No:</td>
              <td class="p-2"></td>
              <td class="p-2" colspan="2">Declared Value:</td>
            </tr>
            <tr>
              <td class="p-2">Address:</td>
              <td class="p-2"></td>
              <td class="p-2">Address:</td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2">Pin Code:</td>
              <td class="p-2"></td>
              <td class="p-2">Pin Code:</td>
              <td class="p-2"></td>
              <td class="p-2">Payment Mode</td>
              <td class="p-2">Paid</td>
              <td class="p-2">To Pay</td>
              <td class="p-2">TBB</td>
            </tr>
            <tr>
              <td class="p-2">Contact:</td>
              <td class="p-2"></td>
              <td class="p-2">Contact:</td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2">No. of boxes</td>
              <td class="p-2">Description Of Goods (Said to contain)</td>
              <td class="p-2">Actual Weight</td>
              <td class="p-2">Charged Weight</td>
              <td class="p-2">Rate/KG</td>
              <td class="p-2">Comments</td>
            </tr>
            <tr>
              <td class="p-2">1</td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2">2</td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2">3</td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2 font-bold">Charges</td>
              <td class="p-2">Freight Charges</td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2"></td>
              <td class="p-2">Handling Charges</td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2"></td>
              <td class="p-2">Statistical Charges</td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2"></td>
              <td class="p-2">Others</td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2"></td>
              <td class="p-2">GST @12%</td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2"></td>
              <td class="p-2 font-bold">Grand Total</td>
              <td class="p-2"></td>
            </tr>
            <tr>
              <td class="p-2 font-bold">Acknowledgement</td>
              <td class="p-2" colspan="3">
                We have received the goods in good condition
              </td>
            </tr>
            <tr>
              <td class="p-2 font-bold">Terms & Conditions:</td>
              <td class="p-2" colspan="2">Receiver's Name:</td>
              <td class="p-2" colspan="2">Consignee Seal & Comments</td>
              <td class="p-2">Payment QR Code</td>
            </tr>
          </table>
        </div> -->
      </div>
    </div>

    <div class="flex loader-bg hide" id="loading-container">
      <div>
          <span class="loader">Loading</span>
      </div>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type='text/javascript' src='https://html2canvas.hertzen.com/dist/html2canvas.js'></script>
    <script>
      // document
      //   .getElementById("downloadPdf")
      //   .addEventListener("click", function () {
      //     const element = document.getElementById("pdf-content"); // The HTML content to convert
      //     const options = {
      //       margin: 5,
      //       filename: "Shipping_Details.pdf",
      //       image: { type: "jpeg", quality: 0.98 },
      //       html2canvas: { scale: 2, letterRendering: true },
      //       jsPDF: { unit: "mm", format: "a4", orientation: "portrait" },
      //     };

      //     html2pdf().from(element).set(options).save();
      //   });

      function generatePDF() {
      window.jsPDF = window.jspdf.jsPDF;
      var doc = new jsPDF();
      var elementHTML = document.querySelector("#pdf-content");
      doc.html(elementHTML, {
        callback: function(doc) {
          doc.save('Shipping_Details.pdf');
        },
        margin: [2, 2, 2, 2],
        autoPaging: 'text',
        x: 0,
        y: 0,
        width: 187.5,
        windowWidth: 675,
        height: 200
      });
    }
    </script>

    <script src="/js/common.js"></script>
    <script src="/js/generateLr.js"></script>
</body>

</html>