<div class="sidebar">
  <h1 style="margin-top: 1rem; margin-left: 1rem">WAAGN APP</h1>
  <ul class="main-link">
    <li>
      <a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a>
    </li>
    <li>
      <a href="/orders"><i class="material-icons">sync_alt</i>Orders</a>
    </li>
    <li>
      <a href="/vehicles"
        ><i class="material-icons">local_shipping</i>Vehicles</a
      >
    </li>
    <li>
      <a href="/drivers"><i class="material-icons">engineering</i>Drivers</a>
    </li>
    <li>
      <a href="/partners"
        ><i class="material-icons">swap_horiz</i>3PL Partners</a
      >
    </li>
    <li>
      <a href="/partners-orders"
        ><i class="material-icons">social_distance</i>3PL Dashboard</a
      >
    </li>
    <li>
      <a href="/generate-lr"
        ><i class="material-icons">receipt</i>Generate LR</a
      >
    </li>
    <li>
      <a href="/our-godowns"
        ><i class="material-icons">push_pin</i>3PL Warehouse</a
      >
    </li>
    <li class="sub-drop">
      <button class="drop-btn" onclick="toggleAsideSubmenu(this)">
        <i class="material-icons">social_distance</i>
        <span>Fleet Management</span>
        <span class="arr-right">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
        <span class="arr-down hide">
          <i class="material-icons">keyboard_arrow_down</i>
        </span>
      </button>
      <ul class="drop-down-aside hide">
        <li><a href="/partners-orders">Overview</a></li>
        <li><a href="/">3pl partner</a></li>
        <li><a href="/">Orders</a></li>
      </ul>
    </li>
    <li>
      <a href="/our-godowns"
        ><i class="material-icons">report_problem</i>Raise a Query</a
      >
    </li>
    <li onclick="logOutAdmin()" style="cursor: pointer">
      <i class="material-icons">logout</i>LogOut
    </li>
  </ul>
</div>
