<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waagn App</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/request.module.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
        <div class="content">
            <div class="header">
                <div class="flex search-bar">
                    <input type="text" placeholder="search you query here...">
                    <button><i class="material-icons">search</i></button>
                </div>
                <div style="display: flex; align-items: center;">
                    <span style="font-weight: 600;" id="partner-name">User</span>
                    <i class="material-icons" style="font-size:30px;">account_circle</i>
                </div>
            </div>

            <div class="service-cards grid-col-5">
                <div class="service-card">
                    <h3 id="total">0</h3>
                    <p>Total Orders</p>
                </div>
                <div class="service-card" style="background-color: #c4c443;">
                    <h3 id="accepted-order">0</h3>
                    <p>Order Accepted</p>
                </div>
                <div class="service-card" style="background-color: #89c867;">
                    <h3 id="pending-acceptance">0</h3>
                    <p>Pending Acceptence</p>
                </div>
                <div class="service-card" style="background-color: #e287e5;">
                    <h3 id="transit">0</h3>
                    <p>Order In transit</p>
                </div>
                <div class="service-card" style="background-color: #89c867;">
                    <h3 id="delivered">0</h3>
                    <p>Delivered Orders</p>
                </div>
            </div>

            <div class="table-container">
                <div class="flex table-header" style="justify-content: space-between;">
                    <h1>3PL Partner's Order</h1>
                    <div class="flex" style="gap:1rem;">        
                        <button class="btn" onclick="openPopup('filter-box')"><i style="font-size: 16px;"
                                class="material-icons">tune</i></button>
                    </div>
                </div>
                <div class="filter-box hide flex flex-col">
                    <div class="filter-item flex" style="justify-content: space-between;">
                        <label>Total order</label>
                        <input type="radio" name="filter" id="">
                    </div>
                    <div class="filter-item flex" style="justify-content: space-between;">
                        <label>Total order</label>
                        <input type="radio" name="filter" id="">
                    </div>
                    <div class="filter-item flex" style="justify-content: space-between;">
                        <label>Total order</label>
                        <input type="radio" name="filter" id="">
                    </div>

                    <div>
                        <button class="btn">Apply</button>
                        <button class="btn" onclick="cancelFilter()">Cancel</button>
                    </div>

                </div>
                <div class="table-box scroll-box">
                    <table>
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>3PL name</th>
                                <th>Godown adress</th>
                                <th>Order Status</th>
                                <th>Name</th>    
                                <th>Action</th>     
                            </tr>
                        </thead>
                        <tbody id="order-table">                            
                            <!-- rendering dynamic value  -->
                        </tbody>
                    </table>
                </div>
                
            </div>

        </div>
        <!-- create order popup form -->
        <div class="flex popup-container create-order-form-popup hide">
            <div class="form-container">
                <div class="flex form-header">
                    <h2>Order Information Form</h2>
                    <span class="material-icons" style="cursor: pointer;color: #c11717;"
                        onclick="closePopup('create-order-form-popup')">close</span>
                </div>
                <form id="order-create-form-admin" style="margin-top: 1.5rem;">
                    <div class="form-row">
                        <div class="form-field">
                            <label for="pickup_location_address">Pickup Location Address:</label>
                            <input type="text" id="pickup_location_address" name="pickup_location_address" required>
                        </div>
                        <div class="form-field">
                            <label for="delivery_location_address">Delivery Location Address:</label>
                            <input type="text" id="delivery_location_address" name="delivery_location_address" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="shipper_company_name">Shipper Company Name:</label>
                            <input type="text" id="shipper_company_name" name="shipper_company_name">
                        </div>
                        <div class="form-field">
                            <label for="shipper_name">Shipper Name:</label>
                            <input type="text" id="shipper_name" name="shipper_name">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="shipper_contact_number">Shipper Contact Number:</label>
                            <input type="text" id="shipper_contact_number" name="shipper_contact_number">
                        </div>
                        <div class="form-field">
                            <label for="shipper_email_address">Shipper Email Address:</label>
                            <input type="email" id="shipper_email_address" name="shipper_email_address">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="receiver_company_name">Receiver Company Name:</label>
                            <input type="text" id="receiver_company_name" name="receiver_company_name">
                        </div>
                        <div class="form-field">
                            <label for="receiver_name">Receiver Name:</label>
                            <input type="text" id="receiver_name" name="receiver_name">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="receiver_contact_number">Receiver Contact Number:</label>
                            <input type="text" id="receiver_contact_number" name="receiver_contact_number">
                        </div>
                        <div class="form-field">
                            <label for="receiver_gst">Receiver GST:</label>
                            <input type="text" id="receiver_gst" name="receiver_gst">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="receiver_email_address">Receiver Email Address:</label>
                            <input type="email" id="receiver_email_address" name="receiver_email_address">
                        </div>
                        <div class="form-field">
                            <label for="types_of_goods">Types of Goods:</label>
                            <select name="types_of_goods">
                                <option value="lquid">Liquid</option>
                                <option value="solid">Solid</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="actual_weight_of_consignment">Actual Weight of Consignment:</label>
                            <input type="number" step="0.01" id="actual_weight_of_consignment"
                                name="actual_weight_of_consignment">
                        </div>
                        <div class="form-field">
                            <label for="number_of_boxes">Number of Boxes:</label>
                            <input type="number" id="number_of_boxes" name="number_of_boxes">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="length_of_box">Length of Box:</label>
                            <input type="text" id="length_of_box" name="length_of_box">
                        </div>
                        <div class="form-field">
                            <label for="height_of_box">Height of Box:</label>
                            <input type="text" id="height_of_box" name="height_of_box">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="breadth_of_box">Breadth of Box:</label>
                            <input type="text" id="breadth_of_box" name="breadth_of_box">
                        </div>
                        <div class="form-field">
                            <label for="volume_of_consignment">Volume of Consignment:</label>
                            <input type="text" id="volume_of_consignment" name="volume_of_consignment">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="consignment_risk">Consignment Risk:</label>
                            <select name="consignment_risk">
                                <option value="owner_risk">Owner Risk</option>
                                <option value="carrier_risk">Carier Risk</option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="pickup_datetime">Pickup Date and Time:</label>
                            <input type="datetime-local" id="pickup_datetime" name="pickup_datetime">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="delivery_datetime">Delivery Date and Time:</label>
                            <input type="datetime-local" id="delivery_datetime" name="delivery_datetime">
                        </div>
                        <div class="form-field">
                            <label for="insurance">Insurance:</label>
                            <input type="text" id="insurance" name="insurance">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="tax_invoice_number">Tax Invoice Number:</label>
                            <input type="text" id="tax_invoice_number" name="tax_invoice_number">
                        </div>
                        <div class="form-field">
                            <label for="payment_status">Payment Mode:</label>
                            <select name="payment_mode">
                                <option value="upi">UPI</option>
                                <option value="cash">Cash</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="amount">Amount:</label>
                            <input type="number" id="amount" name="amount">
                        </div>
                        <div class="form-field">
                            <label for="amount">Payment Status:</label>
                            <select name="payment_status">
                                <option value="topay">To pay</option>
                                <option value="tobill">To be billed</option>
                                <option value="paid">Paid</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="order_date">Date:</label>
                            <input type="date" id="order_date" name="order_date" required>
                        </div>
                        <div class="form-field">                           
                        </div>                         
                    </div>

                    <div class="full-width">
                        <button type="button" onclick="createOrderFromAdmin(event)" class="btn">Submit</button>
                    </div>
                </form>
            </div>

        </div>

        <!-- order details popup box -->
        <div class="flex popup-container hide order-detail-popup">
            <div class="info-box" style="background-color: #fff;">
                <button class="close-button" onclick="closePopup('order-detail-popup')">
                    <span class="material-icons">close</span> <!-- Material Icon for Close -->
                </button>
                <div id="order-details-box">
                    <div class="key-value-box scroll-box" style="justify-content: space-around; margin-block: 1rem;">
                        <div class="key-value">
                            <h2 class="flex details-heading">BOOKING DETAILS</h2>
                            <div class="key-value-pair">
                                <strong>OrderId:</strong> 983774784
                            </div>
                            <div class="key-value-pair">
                                <strong>Name:</strong> John Doe
                            </div>
                            <div class="key-value-pair">
                                <strong>Pickup Location:</strong> New York, NY
                            </div>
                            <div class="key-value-pair">
                                <strong>Drop Location:</strong> Los Angeles, CA
                            </div>
                        </div>
                        <div class="key-value">
                            <h2 class="flex details-heading">CONSIGNOR/CONSIGNEE</h2>
                            <div class="key-value-pair">
                                <strong>Order Status:</strong>
                                <select class="status-red">
                                    <option value="">Pending</option>
                                    <option value="">In transit</option>
                                    <option value="">Delivered</option>
                                </select>
                            </div>
                            <div class="key-value-pair">
                                <strong>Name:</strong> John Doe
                            </div>
                            <div class="key-value-pair">
                                <strong>Pickup Location:</strong><span class=""> New York, NY, 90001, lkrb path nabin
                                    nagar,
                                    near police point, paltan bazar</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Drop Location:</strong> Los Angeles, CA
                            </div>
                        </div>
                        <div class="key-value">
                            <h2 class="flex details-heading">GOODS INFORMATION</h2>
                            <div class="key-value-pair">
                                <strong>Order Status:</strong> <span class="status-green">delivered</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Name:</strong> John Doe
                            </div>
                            <div class="key-value-pair">
                                <strong>Pickup Location:</strong><span class=""> New York, NY, 90001, lkrb path nabin
                                    nagar,
                                    near police point, paltan bazar</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Drop Location:</strong> Los Angeles, CA
                            </div>
                        </div>
                        <div class="key-value">
                            <h2 class="flex details-heading"> PICKUP DETAILS</h2>
                            <div class="key-value-pair">
                                <strong>Order Status:</strong> <span class="status-green">delivered</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Name:</strong> John Doe
                            </div>
                            <div class="key-value-pair">
                                <strong>Pickup Location:</strong><span class=""> New York, NY, 90001, lkrb path nabin
                                    nagar,
                                    near police point, paltan bazar</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Drop Location:</strong> Los Angeles, CA
                            </div>
                        </div>

                        <div class="key-value flex flex-col" style="gap: 1rem;">
                            <h2 class="flex details-heading">3PL PARTNER</h2>
                            <div class="flex key-value-pair">
                                <div>
                                    <label for="order-lr" class="btn">Upload LR</label>
                                    <input type="file" name="order-lr" id="order-lr" class="hide">
                                </div>
                                <p class="view-doc">View</p>
                            </div>
                            <div class="flex key-value-pair">
                                <div>
                                    <label for="order-tax-invoice" class="btn">Upload Tax Invoice</label>
                                    <input type="file" name="order-tax-invoice" id="order-tax-invoice" class="hide">
                                </div>
                                <p class="view-doc">View</p>
                            </div>
                            <div class="flex key-value-pair">
                                <div>
                                    <label for="goods-photos" class="btn">Goods Photo</label>
                                    <input type="file" name="goods-photos" id="goods-photos" class="hide">
                                </div>
                                <p class="view-doc unactive">View</p>
                            </div>
                        </div>

                        <div class="key-value">
                            <h2 class="flex details-heading">BILLING INFORMATION</h2>
                            <div class="key-value-pair">
                                <strong>Order Status:</strong> <span class="status-green">delivered</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Name:</strong> John Doe
                            </div>
                            <div class="key-value-pair">
                                <strong>Pickup Location:</strong><span class=""> New York, NY, 90001, lkrb path nabin
                                    nagar,
                                    near police point, paltan bazar</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Drop Location:</strong> Los Angeles, CA
                            </div>
                        </div>

                        <div class="key-value">
                            <h2 class="flex details-heading">Delivery Adress</h2>
                            <div class="key-value-pair">
                                <strong>Order Status:</strong> <span class="status-green">delivered</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Name:</strong> John Doe
                            </div>
                            <div class="key-value-pair">
                                <strong>Pickup Location:</strong><span class=""> New York, NY, 90001, lkrb path nabin
                                    nagar,
                                    near police point, paltan bazar</span>
                            </div>
                            <div class="key-value-pair">
                                <strong>Drop Location:</strong> Los Angeles, CA
                            </div>
                        </div>

                        <div class="key-value">
                            <h2 class="flex details-heading">COMMENTS</h2>
                            <div class="key-value-pair form-row">
                                <input type="text" name="amount" value="1000">
                                <button class="btn">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex" style="gap: 1rem">
                        <button class="btn" onclick="openPopup('select-vehicle-box')">Assign Pickup Vehicle</button>
                        <button class="btn" onclick="openAddPartnerForm()">Assign 3pl Partner</button>
                        <button class="btn">Download</button>
                    </div>
                </div>
            </div>

             <!-- assign 3pl partner -->
             <div class="flex sub-popup hide select-3pl-box">
                <div class="sub-form-box scroll-box">
                    <div class="flex" style="align-items: center; gap:1rem">
                        <h3>Dispatch Details Form</h3>
                    </div>
                    <form id="dispatch-details-form" style="margin-top: 1rem;">
                        <div class="form-row">
                            <div class="form-field">
                                <label for="partner-dropdown">Partner Id:</label>
                                <input type="text" name="partner_id" value="" id="partner-id-input" required readonly>
                            </div>
                            <div class="form-field">
                                <label for="godown-type-dropdown">Delivery Godown Location:</label>
                                <select name="delivery_godown_address" id="godown-type-dropdown">
                                    <option value="" disabled selected>Select here</option>
                                    <option value="src">Source</option>
                                    <option value="dest">Destination</option>
                                </select>
                            </div>
                            <div class="form-field">
                                <label for="assigned_vehicle_no">Vehicle Number:</label>
                                <input type="text" name="assigned_vehicle_no" value="" id="assigned_vehicle_no" required>
                            </div>
                            <div class="form-field">
                                <label for="assigned_driver_name">Driver Name:</label>
                                <input type="text" name="assigned_driver_name" id="assigned_driver_name" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-field">
                                <label for="assigned_driver_number">Driver Number:</label>
                                <input type="text" name="assigned_driver_number" id="assigned_driver_number" required>
                            </div>
                            <div class="form-field">
                                <label for="e_way_bill_no">E Way Bill Number:</label>
                                <input type="text" name="e_way_bill_no" id="e_way_bill_no" required>
                            </div>
                            <div class="form-field">
                                <label for="actual_weight">Actual Weight:</label>
                                <input type="text" name="actual_weight" id="actual_weight" required>
                            </div>                          
                            <div class="form-field">
                                <label for="charged_weight">Charged Weight:</label>
                                <input type="text" name="charged_weight" value="" id="charged_weight" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-field">
                                <label for="partner_amount">Amount:</label>
                                <input type="text" name="partner_amount" id="partner_amount" required>
                            </div>
                            <div class="form-field">
                                <label for="order_id">Order ID:</label>
                                <input type="text" name="order_id" id="order-id-input" required readonly>
                            </div>                            
                        </div>

                        <div style="margin-top: 1rem;">
                            <button class="btn" type="button" onclick="addDispatchDetails(event)">Assign Now</button>
                            <button class="btn" type="button" onclick="closePopup('select-3pl-box')">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- assign pickup vehicle -->
            <div class="flex sub-popup hide select-vehicle-box">
                <div class="sub-form-box scroll-box">
                    <div class="flex" style="align-items: center; gap:1rem">
                        <h3>Assign Pickup Vehicle</h3>
                    </div>
                    <form id="assign-vehicle-form" style="margin-top: 1rem;">
                        <div class="form-row">
                            <div class="form-field" style="position: relative;">
                                <div>
                                    <label for="town">Select vehicle:</label>
                                    <input placeholder="Seach Vh. Number..." type="text"
                                        onfocus="openPopup('search-input')" name="town" id="vehicle-dropdown" oninput="searchItems(this, 'vh-num-li')">
                                </div>
                                <div class="search-input scroll-box hide">
                                    <ul id="search-list">
                                        <li class="vh-num-li" onclick="selectVehicle(this)">DL 1C 2345</li>
                                        <li class="vh-num-li" onclick="selectVehicle(this)">MH 04 AB 5678</li>
                                        <li class="vh-num-li" onclick="selectVehicle(this)">KA 03 P 1234</li>
                                        <li class="vh-num-li" onclick="selectVehicle(this)">TN 22 AZ 9876</li>
                                        <li class="vh-num-li" onclick="selectVehicle(this)">UP 16 AB 4321</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-field">
                                <label for="contact_person_name">Order Id:</label>
                                <input type="text" value="" id="order-id-input-vh" name="order_id" maxlength="150"
                                    required readonly>
                            </div>
                            <div class="form-field">
                                <label for="driver-name-inp">Driver Name:</label>
                                <input type="text" id="driver-name-inp" name="contact_person_name" maxlength="150"
                                    required>
                            </div>                           
                        </div>
                        <div class="form-row" style="margin-top: 1rem;">
                            <div class="form-field">
                                <label for="driver-vehicleid-inp">Vehicle Id:</label>
                                <input type="text" value="not-set" id="driver-vehicleid-inp" name="vehicle_id" maxlength="150"
                                    required readonly>
                            </div>
                            <div class="form-field">
                                <label for="contact_person_name">Driver Id:</label>
                                <input type="text" value="" id="driver-driverid-inp" name="driver_id" maxlength="150"
                                    required readonly>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top: 1rem;">
                            <div class="form-field">
                                <label for="full_address">Comments for driver:</label>
                                <textarea id="full_address" name="msg_for_driver" required></textarea>
                            </div>
                        </div>
                        <div style="margin-top: 1rem;">
                            <button class="btn" type="button" onclick="assignVehicleToOrder(event)">Assign Now</button>
                            <button class="btn" type="button" onclick="closePopup('select-vehicle-box')">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

           
        </div>

        <div class="flex loader-bg hide" id="loading-container">
            <div>
                <span class="loader">Loading</span>
            </div>
        </div>

        <script src="/js/common.js"></script>
        <!-- <script src="/js/order.js"></script> -->
        <script src="/js/partnerDashboard.js"></script>
</body>

</html>