.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.scroll-box::-webkit-scrollbar {
    width: 10px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
    color: #2E2E2E;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

.hide {
    display: none;
}

.btn {
    padding: 10px;
    min-width: max-content;
    background-color: #1C1C1C;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #383838;
}

.close-button {
    position: absolute;
    right: 3px;
    top: 5px;
    background: none;
    border: none;
    font-size: 24px;
    color: #c11717;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #1C1C1C;
}

.close-button .material-icons {
    font-size: 30px;
}

.status-green {
    padding: 6px;
    background-color: rgb(210, 253, 210);
    color: rgb(15, 126, 15);
    border-radius: 8px;
    padding-inline: 10px;
    border: none;
}

.status-red {
    padding: 6px;
    background-color: rgb(253, 210, 210);
    color: rgb(126, 15, 15);
    border-radius: 8px;
    padding-inline: 10px;
    border: none;
}

.status-update {
    padding: 5px;
    border-radius: 6px;
    padding-inline: 8px;
    background-color: rgb(253, 243, 210);
    color: rgb(126, 85, 15);
}



.sidebar {
    width: 250px;
    background-color: #EFEFEF;
    padding: 20px;
    flex-shrink: 0;
}

.sidebar h1 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.sidebar li a{
    width: 100%; 
}

.sidebar li:hover {
    background-color: #D3D3D3;
    cursor: pointer;
}

.sidebar li i {
    font-size: 20px;
    margin-right: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Align items in the center */
    margin-bottom: 20px;
}

.header div span {
    margin-right: 15px;
}

.service-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
}

.service-card {
    background-color: #4269bd;
    color: #FFFFFF;
    padding: 8px;
    padding-inline: 20px;
    border-radius: 5px;
    display: inline-block;
}

.service-card h3 {
    margin: 0;
    font-size: 30px;
}

.service-card p {
    margin: 8px 0;
    font-size: 15px;
    font-weight: 600;
}

.latest-transfers {
    margin-top: 20px;
}

.transfer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E0E0E0;
    padding: 10px 0;
}

.transfer:first-child {
    border-top: none;
}

.table-container {
    max-width: 80vw;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    position: relative;
}

.table-header {
    padding: 15px;
}

table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #4d4d4d;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-rows:hover {
    background-color: #f1f1f1;
    /* Highlight row on hover */
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Zebra striping */
}


/* pop up box */

.popup-container {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    min-height: 100vh;
    max-height: fit-content;
}

.info-box {
    width: 80%;
    padding: 25px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: Arial, sans-serif;
    margin-block: 1.5rem;
}


.list-box {
    border: 1px solid rgb(167, 165, 165);
    padding: 15px;
    border-radius: 8px;
    height: 30rem;
    overflow-y: scroll;
}


.list-box ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 2rem;
}

.key-value-box {
    display: grid;
    grid-template-columns: 300px 300px;
    border: 1px solid rgb(167, 165, 165);
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    max-height: 80vh;
    overflow-y: scroll;
}


.key-value {
    font-size: 14px;
    line-height: 1.6;
}

.key-value-pair {
    margin-bottom: 10px;
    gap: .5rem;
}

.key-value-pair strong {
    color: #333;
}

.details-heading {
    border: 1px dashed gray;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: gray;
}

.view-doc {
    color: blue;
    cursor: pointer;
}

.unactive {
  color: #7a7a7a;
}

/* form design */
.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-block: 1.5rem;
}


.form-row {
    display: flex;
    gap: 20px;
}

.form-row label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

.form-row input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field {
    flex: 1 1 45%;
}

.form-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

.select {
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    color: rgb(120, 120, 120);
}

/* tabs design */

.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.tabs {
    position: relative;
    margin: 3rem 0;
    background: #1abc9c;
    height: 14.75rem;
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    float: left;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #7a7a7a;
    border-right: 0.125rem solid #292e2d;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}

.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}

.tab-content {
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
    width: 100%;
}

.tab-switch:checked+.tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

/* sub popup box */

.sub-popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}

.sub-form-box {
    background-color: #fff;
    width: 60%;
    max-height: 40rem;
    overflow-y: scroll;
    padding: 1rem;
    border-radius: 6px;
}

.label-location span {
    display: block;
}

.label-location {
    align-items: center;
}


/* checkbox list design */

.checkbox-list {
    list-style-type: none;
    padding: 0;
    margin: 50px auto;
    max-width: 400px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list-item div span {
    font-size: 18px;
    color: #333;
    display: inline-block
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.list-item:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.circle-red {
    width: 10px;
    height: 10px;
    background-color: rgb(252, 98, 98);
    border-radius: 50%;
}

.circle-green {
    width: 10px;
    height: 10px;
    background-color: rgb(131, 250, 101);
    border-radius: 50%;
}

/* filter box deisgn */

.filter-box {
    min-width: 200px;
    max-width: max-content;
    position: absolute;
    right: 0;
    z-index: 10;
    background-color: #fff;
    padding: 12px;
    gap: 1rem;
    border-radius: 6px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.filter-item {
    padding: 8px;
    gap: 3rem;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}